form{
  max-width: 30em;
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
}


form input[type=text]::placeholder{
  font-family: "Arial";
  color:#666;
}

form .data{
  margin-top: 1em;
}

form .data li{
  background: rgb(255, 255, 255);
  border-left: 4px solid #F97300;
  padding: 1em; margin: 1em auto;
  color: #666;
  font-family: "Arial";
}

form .data li i{
  float: right;
  color: #888;
  cursor: pointer;
}

form .input-group-text{
  background: #000000;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  padding: 30px 20px 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 13px;
  top: 24px;
  cursor: pointer;
}

form .input-group-text i{
  font-size: 2em;
}

form .form-control{
  height: 4em;
  width: 25em;
  font-family: "Arial";
}

form .form-control:focus{ box-shadow: 0;}
