<table>
  <thead>
    <tr>
        <th scope="col">Mission Name</th>
        <th scope="col">Mission ID</th>
        <th scope="col">Manufactures</th>
        <th scope="col">Payload IDS</th>
        <th scope="col">Wikipedia</th>
        <th scope="col">Website</th>
        <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of data;">
        <td>{{ e.mission_name}}</td>
        <td>{{ e.mission_id}}</td>
        <td>{{ e.manufacturers}}</td>
        <td>{{ e.payload_ids}}</td>
        <td>{{ e.wikipedia}}</td>
        <td>{{ e.website}}</td>
        <td>{{ e.description}}</td>
    </tr>
  </tbody>
</table>
